@media only screen and (max-width: 550px) {
    .navbar{
        margin-left: 0px;
        padding: 0px 0px 0px 0px;
        height: 7vh;
        width: 100%;
    }
    .table{
        padding-top: 0; 
    }

    .table_row{
        display: grid;
        font-size: 14px;
        padding: 40px;
        border-bottom: 2px solid #0000001f;
    }
    .table_row td{
        padding: 2%;
        border-bottom: none;
        text-align: left;
    }
    .body {
        height: 100%;
        padding: 0%;
    }

    body {
        padding: 0%;
    }

}


@media only screen and (max-width: 550px) {
    #responivenav{
        display:block;
        margin-right: 10%;
    }
    .maininlineul{
        display: none;
    }
    #inlineul{
        flex-direction: column;
        height: 28vh;
        color: rgb(255, 255, 255);
        font-size: 19px;
        text-align: right;
        width: 100%;
        z-index: 1;
        position: relative;
    }

    #inlineul li{
        padding: 15px;
    }
    #lbtabletop{
        padding-top: 0px;
    }
}

.allLinktable{
    padding-top: 65px; height: auto;
}


.table_row td .tbspan{
    font-size: 13px;
}